[Unit]
Description=gunicorn daemon
#Requires=gunicorn.socket
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=notify
PermissionsStartOnly=true
EnvironmentFile=/etc/sysconfig/gunicorn
# USER
User=apache
Group=apache

RuntimeDirectory=gunicorn
WorkingDirectory=/var/www/webroot/
# START
ExecStartPre=/usr/local/sbin/pythonAutoConf.gunicorn.sh
ExecStart=/usr/local/sbin/gunicorn-env --config $GUNICORN_CONF $APP_MODULE
ExecStartPost=/usr/local/sbin/pythonAutoConf.gunicorn.sh fixpermissions
# Reload
ExecReload=/usr/local/sbin/pythonAutoConf.gunicorn.sh
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed

# error handling
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=2s
StartLimitBurst=6
StartLimitInterval=240s

[Install]
WantedBy=multi-user.target
