[Unit]
Description=gunicorn daemon
#Requires=gunicorn.socket
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=notify
EnvironmentFile=/etc/sysconfig/gunicorn
# the specific user that our service will run as
User=apache
Group=apache
RuntimeDirectory=gunicorn
WorkingDirectory=$APP_WORKDIR
ExecStart=/usr/bin/gunicorn -c $GUNICORN_CONF $APP_MODULE
#ExecStart=/usr/bin/gunicorn --worker-class uvicorn.workers.UvicornWorker -c /var/www/webroot/gunicorn.conf.py asgi:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
