[Unit]
Description=gunicorn daemon
#Requires=gunicorn.socket
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=notify
EnvironmentFile=/etc/sysconfig/gunicorn
# the specific user that our service will run as
User=apache
Group=apache
RuntimeDirectory=gunicorn
WorkingDirectory=/var/www/webroot/
ExecStart=/usr/bin/gunicorn -c $GUNICORN_CONF --chdir $APP_WORKDIR $APP_MODULE
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
